@model SacramentMeetingPlanner.Models.SacramentMeeting

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SacramentMeeting</h4>
<hr />

<form asp-action="Create">
    <div class="row">
        <div class="col-md-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SacramentDate" class="control-label"></label>
                <input asp-for="SacramentDate" class="form-control" />
                <span asp-validation-for="SacramentDate" class="text-danger"></span>
            </div>

            <p> Prayers:</p>
            <div class="form-group">
                <label asp-for="OpeningPrayer" class="control-label"></label>
                <select asp-for="OpeningPrayer" asp-items="ViewBag.MemberID" class="form-control">
                    <option value="">-- Select Member --</option>
                </select>
                <span asp-validation-for="OpeningPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingPrayer" class="control-label"></label>
                <select asp-for="ClosingPrayer" asp-items="ViewBag.MemberID" class="form-control">
                    <option value="">-- Select Prayer --</option>
                </select>
                <span asp-validation-for="ClosingPrayer" class="text-danger"></span>
            </div>
            <p>Songs:</p>
            <div class="form-group">
                <label asp-for="OpeningHymn" class="control-label"></label>
                <select asp-for="OpeningHymn" asp-items="ViewBag.HymnID" class="form-control">
                    <option value="">-- Select Song --</option>
                </select>
                <span asp-validation-for="OpeningHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentHymn" class="control-label"></label>
                <select asp-for="SacramentHymn" asp-items="ViewBag.SacramentID" class="form-control">
                    <option value="">-- Select Song --</option>
                </select>
                <span asp-validation-for="SacramentHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntermediateHymn" class="control-label"></label>
                <input asp-for="IntermediateHymn" class="form-control" />
                <span asp-validation-for="IntermediateHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingHymn" class="control-label"></label>
                <select asp-for="ClosingHymn" asp-items="ViewBag.HymnID" class="form-control">
                    <option value="">-- Select Song --</option>
                </select>
                <span asp-validation-for="ClosingHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" /><a asp-action="Index">Back to List</a>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="ConductingBishopric" class="control-label"></label>
                <select asp-for="ConductingBishopric" asp-items="ViewBag.bishID" class="form-control">
                    <option value="">-- Select Conductor --</option>
                </select>
                <span asp-validation-for="ConductingBishopric" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic" class="control-label"></label>
                <input asp-for="Topic" class="form-control" />
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>


            <div id="speaker1" class="form-group">
                <label asp-for="Speaker1" class="control-label"></label>
                <select asp-for="Speaker1" asp-items="ViewBag.MemberID" class="form-control">
                    <option value="">-- Select Speaker --</option>
                </select>
                <span asp-validation-for="Speaker1" class="text-danger"></span>
            </div>
            <div id="speaker2" class="form-group">
                <label asp-for="Speaker2" class="control-label"></label>
                <select asp-for="Speaker2" asp-items="ViewBag.MemberID" class="form-control">
                    <option value="">-- Select Speaker --</option>
                </select>
                <span asp-validation-for="Speaker2" class="text-danger"></span>
            </div>
            <div id="speaker3" class="form-group">
                <label asp-for="Speaker3" class="control-label"></label>
                <select asp-for="Speaker3" asp-items="ViewBag.MemberID" class="form-control">
                    <option value="">-- Select Speaker --</option>
                </select>
                <span asp-validation-for="Speaker3" class="text-danger"></span>
            </div>
            <div id="speaker4" class="form-group">
                <label asp-for="Speaker4" class="control-label"></label>
                <select asp-for="Speaker4" asp-items="ViewBag.MemberID" class="form-control">
                    <option value="">-- Select Speaker --</option>
                </select>
                <span asp-validation-for="Speaker4" class="text-danger"></span>
            </div>
            <div id="speaker5" class="form-group">
                <label asp-for="Speaker5" class="control-label"></label>
                <select asp-for="Speaker5" asp-items="ViewBag.MemberID" class="form-control">
                    <option value="">-- Select Speaker --</option>
                </select>
                <span asp-validation-for="Speaker5" class="text-danger"></span>
            </div>
            <div id="speaker6" class="form-group">
                <label asp-for="Speaker6" class="control-label"></label>
                <select asp-for="Speaker6" asp-items="ViewBag.MemberID" class="form-control">
                    <option value="">-- Select Speaker --</option>
                </select>
                <span asp-validation-for="Speaker6" class="text-danger"></span>
            </div>
            <input type="button" value="Add Speaker" class="AddSpeaker" />
        </div>
    </div>
</form>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    var count = 1;
    $(document).ready(function () {
        $("#speaker2").hide();
        $("#speaker3").hide();
        $("#speaker4").hide();
        $("#speaker5").hide();
        $("#speaker6").hide();
    });
    $(document).ready(function () {
        $(".AddSpeaker").click(function () {
            if (count == 1)
                $("#speaker2").show();
            if (count == 2)
                $("#speaker3").show();
            if (count == 3)
                $("#speaker4").show();
            if (count == 4)
                $("#speaker5").show();
            if (count == 5)
                $("#speaker6").show();
            count++;

        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
