/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
   
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
.center {
    text-align: center;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/*Design of pages */
form {
    font-family: 'Red Rose', cursive;
    color: black;
    font-size:20px;
}

.table tr, h1 {
    font-family: 'Red Rose', cursive;
}

.table th {
    
    font-size: 20px;
}

.table {
    border-collapse: separate;
    border-spacing: 0 15px;
}

th, td, form {
    background-color: cadetblue !important;
}


th, td {
    padding: 5px;
}

td {
    border-right: hidden;
    color: white;
}
 
a {
    
    color:black;
}

.btn {
    border: 2px solid black;
}

.btn1 {
    text-decoration:underline;
}

h1, th {
    color: black;
    font-family: 'Crimson Text', serif;
}

.navbar {
    background-color: black !important;   
    
}

.container1 navbar-nav {
    text-align: center;
}

.nav-link {
    color: white !important;   
    
}

    .nav-link:hover {
        color: antiquewhite !important;
    }

    .footer {
        margin-top:10%;
    }



