@page
@model MegaDesk.Pages.DeskQuotes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DeskQuote</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeskQuote.QuoteDate" class="control-label"></label>
                <input asp-for="DeskQuote.QuoteDate" class="form-control" />
                <span asp-validation-for="DeskQuote.QuoteDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.FirstName" class="control-label"></label>
                <input asp-for="DeskQuote.FirstName" class="form-control" />
                <span asp-validation-for="DeskQuote.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.LastName" class="control-label"></label>
                <input asp-for="DeskQuote.LastName" class="form-control" />
                <span asp-validation-for="DeskQuote.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Width" class="control-label"></label>
                <input asp-for="DeskQuote.Width" class="form-control" />
                <span asp-validation-for="DeskQuote.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Depth" class="control-label"></label>
                <input asp-for="DeskQuote.Depth" class="form-control" />
                <span asp-validation-for="DeskQuote.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="DeskQuote.DrawerNumber" class="form-control">
                    <option value="">Drawer number</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    <option value="4">Four</option>
                    <option value="5">Five</option>
                    <option value="6">Six</option>
                </select>
                <span asp-validation-for="DeskQuote.DrawerNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="DeskQuote.Material" class="form-control">
                    <option value="">Desk Material</option>
                    <option value="Veneer">Veneer</option>
                    <option value="Oak">Oak</option>
                    <option value="Laminate">Laminate</option>
                    <option value="Pine">Pine</option>
                    <option value="Rosewood">Rosewood</option>
                </select>
                <span asp-validation-for="DeskQuote.Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Cost" class="control-label"></label>
                <label asp-for-items="DeskQuote.cost(DeskQuote.Material, DeskQuote.Width, DeskQuote.Depth, DeskQuote.DrawerNumber);" class="form-control" />
                <span asp-validation-for="DeskQuote.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
