@page
@model MegaDesk.Pages.DeskQuotes.CreateModel

@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>

<h4>DeskQuote</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeskQuote.QuoteDate" class="control-label"></label>
                <input asp-for="DeskQuote.QuoteDate" class="form-control" />
                <span asp-validation-for="DeskQuote.QuoteDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.FirstName" class="control-label"></label>
                <input asp-for="DeskQuote.FirstName" class="form-control" />
                <span asp-validation-for="DeskQuote.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.LastName" class="control-label"></label>
                <input asp-for="DeskQuote.LastName" class="form-control" />
                <span asp-validation-for="DeskQuote.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Width" class="control-label"></label>
                <input asp-for="DeskQuote.Width" class="form-control" id="test" />
                <span asp-validation-for="DeskQuote.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Depth" class="control-label"></label>
                <input asp-for="DeskQuote.Depth" class="form-control" />
                <span asp-validation-for="DeskQuote.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="DeskQuote.DrawerNumber" id="drawer"class="form-control">
                    <option value="">Drawer number</option>
                    <option selected="selected" value="0">None</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    <option value="4">Four</option>
                    <option value="5">Five</option>
                    <option value="6">Six</option>
                </select>
                <span asp-validation-for="DeskQuote.DrawerNumber"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="DeskQuote.Material" id="material" class="form-control">
                    <option value="">Desk Material</option>
                    <option selected="selected" value="Veneer">Veneer</option>
                    <option value="Oak">Oak</option>
                    <option value="Laminate">Laminate</option>
                    <option value="Pine">Pine</option>
                    <option value="Rosewood">Rosewood</option>
                </select>
                <span asp-validation-for="DeskQuote.Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="DeskQuote.Shipping" id="ship" class="form-control">
                    <option value="">Shipping</option>
                    <option selected="selected" value="14">14 Day</option>
                    <option value="7">7 Day</option>
                    <option value="5">5 Day</option>
                    <option value="3">3 Day</option>
                </select>
                <span asp-validation-for="DeskQuote.Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Cost" class="control-label"></label>
                <input asp-for="DeskQuote.Cost" class="form-control" ReadOnly="readonly" />
                <span asp-validation-for="DeskQuote.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    function update() {
        var size = 0;
        var ship = 0;
        var cost = document.getElementsByName("DeskQuote.Cost")[0];
        var drawer = document.getElementsByName("DeskQuote.DrawerNumber")[0].value;
        var material = document.getElementsByName("DeskQuote.Material")[0].value;
        var width = document.getElementsByName("DeskQuote.Width")[0].value;
        var depth = document.getElementsByName("DeskQuote.Depth")[0].value;
        var shipping = document.getElementsByName("DeskQuote.Shipping")[0].value;
        if (shipping == "7") {
            if (width * depth > 2000)
                ship = 40;
            else if (width * depth <= 2000 && width * depth >= 1000)
                ship = 35;
            else
                ship = 30;
        }
        else if (shipping == "5") {
            if (width * depth > 2000)
                ship = 60;
            else if (width * depth <= 2000 && width * depth >= 1000)
                ship = 50;
            else
                ship = 40;
        }
        else if (shipping == "3") {
            if (width * depth > 2000)
                ship = 80;
            else if (width * depth <= 2000 && width * depth >= 1000)
                ship = 70;
            else
                ship = 60;
        }
        else
            ship = 0;

        if ((width * depth) > 1000) {
            size = width * depth - 1000;
        }
        else
            size = 0;
        var materialCost = 0;
        if (material == "Pine")
            materialCost = 50;
        else if (material == "Laminate")
            materialCost = 100;
        else if (material == "Veneer")
            materialCost = 125;
        else if (material == "Oak")
            materialCost = 200;
        else if (material == "Rosewood")
            materialCost = 300;
        cost.value = 200 + size + (drawer * 50) + materialCost + ship;
        
    }
   
    $(document).ready(function () {
        $('input[name$="DeskQuote.Width"]').change(function () {

            update();
        });
    });
    $(document).ready(function () {
        $('input[name$="DeskQuote.Depth"]').change(function () {

            update();
        });
    });
    $(document).ready(function () {

        $("#material").change(function () {
         
            update();
        });
    });
    $(document).ready(function () {
        $("#drawer").change(function () {
       
            update();
        });
    });
    $(document).ready(function () {
        $("#ship").change(function () {
         
            update();
        });
    });
</script>
}
